/***** Admin Page SCSS *****/

/* Contents
1. Accordians
2.Testimonials Container
3.Projects Container
4.Buttons
*/

// Accordians - Accordian sections for admin forms and containers
.accordian {
  border: none;
  box-shadow: $form-shadow;
  border-radius: $form-border-radius;
  background-color: #eee;
  font-family: $fontFamily;
  font-size: 1rem;
  color: color(primary);
  cursor: pointer;
  text-align: left;
  width: 100%;
  padding: 1.5em;
  transition: 0.5s;
  margin: 0.4em 0;
}

.active,
.accordian:hover {
  background-color: #ddd;
}

.accordian:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: color(accent);
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

// panels that open on click of accordian buttons
.panel {
  background-color: #eee;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
}

// Testimonials Container
.testimonials--container {
  @include flex(column, null, null);
}

.testimonial--listitem {
  position: relative;
  @include flex(column, center, space-between);
  border: 1px solid color(primary);
  border-radius: $form-border-radius;
  margin: 0.5em 0;
  padding: 1.5em 0.3em;

  &-name {
    font-size: 1rem;
    color: color(accent);
  }

  &-message {
    font-size: 1.2rem;
    margin-bottom: 0.2em;
  }
}

//Projects Container

.projects--container {
  @include flex(column, null, null);

  .project--listitem {
    @include flex(column, null, center);
    box-shadow: $form-shadow;
    border-radius: $form-border-radius;
    margin-bottom: 2em;
    padding: 0.2em;
    position: relative;

    img {
      width: 100%;
    }
  }
}

// Buttons - delete button
.delete-btn {
  color: #fff;
  font-style: $fontFamily;
  border: none;
  background: #be2f2f;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.3em;
  margin-top: 0.6em;
}
