/*****  Home Page SCSS *****/

/* Contents
  1.About Us Section
  2.Latest Work Section
  3.Testimonials
*/

// About Us Section
#about_us {
  text-align: justify;
  margin-bottom: 1.5em;
}

// Latest Work Section

#project_cards {
  display: grid;
  margin-bottom: 1.5em;
  grid-template-columns: 1fr;
  grid-gap: 1em;

  @include mediaSm {
    grid-template-columns: repeat(3, 1fr);
    // justify-content: center;
  }
}

.project_card {
  border: 1px solid #333;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  img {
    width: 100%;
  }

  .project_card_desc {
    padding: 0.8em;
    @include flex(column, null, null);

    h3 {
      color: color(accent);
      font-size: 2rem;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
      margin-bottom: 0.2em;
    }

    .project_desc {
      margin-bottom: 0.8em;
    }

    a {
      align-self: center;
      justify-self: flex-end;
    }
  }
}

// Testimonials
#testimonials {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.testimonialList {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 500ms ease-in;
}

.testimonialListItem {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.testimonial {
  text-align: center;
  font-size: 1.5rem;
  color: color(primary);
  margin-bottom: 5px;
}

.author {
  text-align: center;
  font-size: 1.3rem;
  color: color(accent);
}
