/***** Services Page SCSS *****/

.services {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5em;
  margin-top: 2em;

  @include mediaSm {
    grid-template-columns: repeat(3, 1fr);
  }
}

.service_card {
  @include flex(column, center, null);

  img {
    width: 100%;
    box-shadow: $form-shadow;
    margin-bottom: 0.6em;
  }

  h3 {
    color: color(primary);
    font-size: 1.6rem;
    padding-bottom: 0.3em;
  }
}
