extends layout

block content
    h2 Contact Us
    p 
        | We are here to answer any of your questions.  If you would like to ask us about a job, or request
        | a quote, please don't hesitate to give us a call, or fill out the contact form, and an advisor will
        | be in touch soon. 

    #form--container
        .form--container
            form(method='post', action='contact/send')
                .form--input-container
                    input(type='text', name='name' required)
                    label Name  
                .form--input-container
                    input(type='email', name='email' required)
                    label Email  
                .form--input-container
                    textarea(name="message" required)
                    label Message
                input(type='submit' value='Submit')